/*@import url('https://fonts.googleapis.com/css?family=Roboto');


body {
    font-family: 'Roboto', sans-serif;
    background: url('../img/mountain.jpg');
    background-color: red !important;
}

h2 {
    text-align: center;
}

#contenedor {
    width: 30% !important;
    margin-top: 13% !important;
    margin-left: 300px !important;
    border: 5px;
}

.label-form {
    margin-bottom: 2px;
}*/

